# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

# 환경별 생성 파일
terraform/*-dev.json
terraform/*-stg.json
terraform/*-prod.json

# 민감 정보
*.pem
*.key
*.crt
*.p12
.env
*.log

# OS
.DS_Store

# images
*.png
